<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Botlist</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/library/index.js"></script>
    <script src="/fontawesome.min.js"></script>
  </head>
  <body onload="_load()">
      <%- include('header.ejs') %>
      <div class="content">
        <h1 class="searchTitle">Ergebnis: </h1>
        <hr>
        <div class="result"></div>
      </div>
      <%- include('footer.ejs') %>
  </body>
</html>
